aiohttp==3.7.4.post0
async-generator==1.10
async-timeout==3.0.1
attrs==21.4.0
beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2022.6.15
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
cryptography==37.0.2
discord==1.7.3
discord.py==1.7.3
h11==0.13.0
idna==3.3
multidict==6.0.2
outcome==1.2.0
pycparser==2.21
pyOpenSSL==22.0.0
PyQt6==6.3.0
PyQt6-Qt6==6.3.0
PyQt6-sip==13.3.1
pyqtdarktheme==1.1.0
PySocks==1.7.1
qasync==0.23.0
requests==2.28.0
selenium==4.2.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
trio==0.21.0
trio-websocket==0.9.2
typing_extensions==4.2.0
urllib3==1.26.9
wsproto==1.1.0
yarl==1.7.2
